@import "tailwindcss";

@font-face {
  font-family: "Helvetica";
  src: url(../Font/HelveticaNeueRoman.woff2);
}

@font-face {
  font-family: "Formula";
  src: url(../font/FormulaBlack.woff);
}

@font-face {
  font-family: "FormulaBold";
  src: url(../font/FormulaBold.woff);
}

@theme {
  --font-formula: "Formula", sans-serif;
  --font-formula-bold: "FormulaBold", sans-serif;
  --font-helvetica: "Helvetica", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FormulaBold", sans-serif;
  letter-spacing: 0.1em;
}

p, button {
  font-family: "Helvetica", sans-serif;
}

:root {
  --dark-bg: #07293b;
  --dark-text: #fff;

  --dark-bg2: #dededa;
  --dark-text2: #07293b;

  /* highlight */
  --highlight: #f04c24;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--highlight) var(--card-bg);
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--card-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--highlight), #9edb42);
  border-radius: 10px;
  border: 2px solid var(--card-bg);
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #d7ff9b, var(--highlight));
}

::-webkit-scrollbar-corner {
  background: var(--card-bg);
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal-left {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-right {
  from {
    opacity: 0;
    transform: translateX(60px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
