@import "tailwindcss";

@font-face {
  font-family: AlumSemibold;
  src: url(../public/Font/AlumniSans-SemiBold.ttf);
}

:root {
  --dark-bg: #040b0b;
  --green: #bef365;
  --dark-text: #fefffe;

  --white-bg: #fefffe;
  --white-text: #040b0b;

  --card-bg: #151d1e;

  --p: #7d8490;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes reveal-up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes reveal-left {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes reveal-right {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scale-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
